extend layout
block content
  p
    | Welcome to ScienceKit.  You can use ScienceKit to help you explore the world to discover the things that you find wonderful.
  p
    | Once you stumble onto something wonderful, punch it into your ScienceKit and go on an expedition to explore the depth of wonder for that something.
  | Incoming Chat: &nbsp;
  ul(id="incomingChatMessages")
  input(type="text", id="outgoingChatMessage")


<input type="text" id="outgoingChatMessage">
block sidebar
  .widget
    h1 Discover
    p
      | Question.  Cause and effect.  Step by step.
  br
  .widget
    h1 Explore
    p
      | Tools to take your discovered questions, causes and effects, and steps, and explore them through an immersive story.
  br
  .widget
    h1 Explain
    p
      | Explain your story and share it with your friends and the world.
  br
  .widget
    h1 My Stuff
    p
      | The fruits of your effort.